*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline{
    list-style: none;
    border-left: 8px solid black;
}
.timeline li{
    margin: 40px 0;
    position: relative;
}
.circle{
    position: relative;
    left: -30px;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border:7px black solid;
    border-radius: 50%;
}

.text{
 
    position: relative;
    bottom: -33px;
    margin-left: 30px;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Loader 1: Nom apparaissant progressivement */
.loader-text {
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}